@import "settings";
@import "../vendor/foundation/scss/foundation";

.row.wide {
  min-width: 100%;
}

.body-color-text {
  color: $body-font-color;
}

.body-color-text:hover {
  color: scale-color($body-font-color, $lightness: -10%);
}

h5.subheader {
  color: #797979 !important;

  a, .body-color-text {
    color: #797979 !important;
  }
}

.left-side {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

#modeSelect {
  padding: 0 10px;
  // background: $secondary-color;
  cursor: pointer;
  width: auto;
}

.inner-dir {
  padding-left: 4%;
}

.panel.alternative {
  padding: 0.3em 1em;
}

.hoverable:hover{
  background-color: $secondary-color;
}

.item-menu {
  font-size: 14px;
  display: block;
  margin-top: 7px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hoverable .only-hoverable {
  display: none;
}
.hoverable:hover .only-hoverable {
  display: block;
}



.error-text {
  color: $alert-color;
}

.success-text {
  color: $success-color;
}

.info-text {
  color: $info-color;
}

.warning-text {
  color: $warning-color;
}

#editor {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
}