@import "settings";
@import "../vendor/foundation/scss/foundation";

.row.wide {
  min-width: 100%;
}

.body-color-text {
  color: $body-font-color;
}

.body-color-text:hover {
  color: scale-color($body-font-color, $lightness: -10%);
}

h5.subheader {
  color: #797979 !important;

  a, .body-color-text {
    color: #797979 !important;
  }
}

.left-side, .right-side {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  h5 a{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
  }
}


.inner-dir {
  padding-left: 4%;
}

.panel.alternative {
  padding: 0.3em 1em;
}

.hoverable:hover{
  background-color: $secondary-color;
}

.item-menu {
  font-size: 14px;
  display: block;
  margin-top: 7px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hoverable .only-hoverable {
  display: none;
}
.hoverable:hover .only-hoverable {
  display: block;
}



.error-text {
  color: $alert-color;
}

.success-text {
  color: $success-color;
}

.info-text {
  color: $info-color;
}

.warning-text {
  color: $warning-color;
}

#editor {
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
}

#modesWheel {
  z-index: 1000;
  background-color: $secondary-color;
  padding: 25px;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
}

#savedLabel {
  margin-left: 30px;
  display: none;
}
#unsavedLabel {
  margin-left: 30px;
  display: none;
}