<div id="modesWheel" style="display: none;">
  <h3>Scripting</h3>
  <ul class="inline-list">
    <li><a href="#" onclick="changeMode('javascript'); return false;">JavaScript</a></li>
    <li><a href="#" onclick="changeMode('php'); return false;">PHP</a></li>
    <li><a href="#" onclick="changeMode('ruby'); return false;">Ruby</a></li>
    <li><a href="#" onclick="changeMode('python'); return false;">Python</a></li>
    <li><a href="#" onclick="changeMode('sh'); return false;">Bash</a></li>
  </ul>

  <h3>Programming</h3>
  <ul class="inline-list">
    <li><a href="#" onclick="changeMode('java'); return false;">Java</a></li>
    <li><a href="#" onclick="changeMode('csharp'); return false;">C#</a></li>
    <li><a href="#" onclick="changeMode('c_cpp'); return false;">C / C++</a></li>
  </ul>

  <h3>Markup</h3>
  <ul class="inline-list">
    <li><a href="#" onclick="changeMode('html'); return false;">HTML</a></li>
    <li><a href="#" onclick="changeMode('twig'); return false;">Twig</a></li>
    <li><a href="#" onclick="changeMode('xml'); return false;">XML</a></li>
    <li><a href="#" onclick="changeMode('yaml'); return false;">YAML</a></li>
  </ul>

  <h3>Cascading Style Sheets</h3>
  <ul class="inline-list">
    <li><a href="#" onclick="changeMode('css'); return false;">CSS</a></li>
    <li><a href="#" onclick="changeMode('scss'); return false;">SCSS</a></li>
    <li><a href="#" onclick="changeMode('less'); return false;">LESS</a></li>
    <li><a href="#" onclick="changeMode('sass'); return false;">SASS</a></li>
  </ul>

  <h3>Text</h3>
  <ul class="inline-list">
    <li><a href="#" onclick="changeMode('markdown'); return false;">Markdown</a></li>
    <li><a href="#" onclick="changeMode('text'); return false;">Plain Text</a></li>
  </ul>

</div>