{% extends "layout.html" %}

{% block content %}

<div class="row wide">
  <div class="columns large-12 panel alternative">
    <h2 style="display: inline;">
      <i class="fi-page"></i> <span data-tooltip title="{{model.path}}">{{model.title}}</span>
    </h2>

    <span id="curMode"></span>
    <small><a href="#" onclick="showChangeMode();">change</a></small>
    <script>
    $(function(){
      modeLabel('{{mode}}');
      });</script>

    {% include "_modes.html" %}

  </div>
</div>

<div id="editor">{{data}}</div>

<script>
  {% if mode %}
    startMode = '{{mode}}';
  {% endif %}
</script>

{% endblock %}