{% extends "layout.html" %}

{% block content %}

<div class="row wide">
  <div class="columns large-12 panel alternative">
    <h2 style="display: inline;">
      <i class="fi-page"></i> <span data-tooltip title="{{model.subpath}}">{{model.title}}</span>
    </h2>

    <span id="curMode"></span>
    <small><a href="#" onclick="showChangeMode();">change</a></small>
    <script> $(function(){ modeLabel('{{mode}}'); }); </script>

    <span class="info-text" id="savedLabel">File was saved...</span>
    <span class="error-text" id="unsavedLabel">File was not saved...</span>

    {% include "_modes.html" %}

  </div>
</div>

<div id="editor">{{data}}</div>

<script>
  SUBPATH = '{{subpathUrl}}';
  {% if mode %}
    startMode = '{{mode}}';
  {% endif %}
</script>

{% endblock %}