{% extends "layout.html" %}

{% block content %}
<div class="row wide">
  <div class="columns large-12 panel alternative">
    <a style="position: absolute; top: 20px; right: 20px;" onclick="toggleInfoBlock();"><i class="fi-monitor"></i> About</a>
    <h2>
      <img src="/img/small-logo.png" id="proj-logo-small"/> <span data-tooltip title="{{model.subpath}}">{{model.title}}</span>
    </h2>
  </div>
</div>

<div class="row wide">
  <div class="columns large-8 left-side">
    {% include "_dir.html" with {loadFirst:true} %}
  </div>
  <div class="columns large-4 right-side">
    <div class="panel">
      <p>
        <img src="/img/logo.png" alt="">
      </p>

      <p>Zenturio Editor - simple web-oriented text editor for developers that are tired of huge IDEs and expensive software.
If you just need to edit some files in your project (local or remote) then this editor is really good option.
It could be started on any machine where NodeJS is installed.</p>
      <p>This editor based on <a href="http://ace.c9.io/" target="_blank">Ace</a>. Works better with console or ssh-access to your project.</p>

      <p>View source code on <a href="https://github.com/zenturio-solutions/zenturio-editor" target="_blank">GitHub</a></p>
    </div>
  </div>
</div>

{% endblock %}